<script type="text/javascript">
  <% if signed_in? %>
    window.currentUser =
      <%= render("api/users/current_user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
  window.rootAssets = {
    sessionLogo: "<%=image_url("sessionLogo.png")%>",
    rootLogo: "<%=image_url("rootLogo.png")%>"
  }
</script>


<main id="root"></main>
