// Place all the styles related to the channel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel {
  height: 100vh;
}

.user-profile {
  float: left;
  width: 220px;
  height: 100%;
  background-color: #4d394b;
  color: #fff;
  box-sizing: border-box;
  color: #ab9ba9;
  font-weight: 400;
}

.user-profile h4{
  font-size: 12.8px;
  box-sizing: border-box;
}

.user-profile h4:hover{
  color: #fff;
  cursor: pointer;
}

.user-profile li{
  font-weight: 300;
  width: 220px;
  padding: 0 15px;
  box-sizing: border-box;
}

.user-profile li:hover{
  background-color: #3e313c;
  cursor: pointer;
}

.user {
  box-sizing: border-box;
  padding: 10px 15px;
  height: 60px;
  width: 220px;
  float: left;
  background-color: #4d394b;
  position: relative;
  margin-bottom: 25px;
  position: fixed;
}

.user:hover {
  cursor: pointer;
}

.log-out {
  color: blue;
  background-color: pink;
  padding: 15px;
}

.user:hover {
  background-color: #3e313c;
  color: #fff
}

.acct-settings {
  position: absolute;
  font-weight: 400;
  bottom: 35px;
  right: 25px;
  font-size: 12px;
  transform : scale(1,0.5);
  color: #fff;
}

.user-profile ul > li:before {
  content: ': :';
  transform: rotate(320deg);
  float: left;
  margin-right: 12px;
}

.new-channel {
  color: #fff;
  font-size: 12px;
  float:right;
  width: 20%;
  font-weight: 300;
}

.channel-type {
  float: left;
  line-height: 1.5;
  width: 80%;
}

.channel-header {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 70px;
}


.channel-index-modal {
  width: 640px;
  margin: 0 auto;
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.close-modal {
  display: block;
  width: 100%;
  margin-top: 24px;
  margin-right: 50px;
  text-align: right;
  box-sizing: border-box;
  padding: 25px 50px;
}

.close-modal button{
  border-radius: 35px;
  padding: 15px 24px;
  line-height: 0.8;
}

.close-modal button:hover {
  background-color: gray;
}

.close-modal i,
.close-modal b {
  color: black;
  display: block;
}

.close-modal i {
  font-size: 40px;
  transform: rotate(45deg);
}

.close-modal b{
  font-size: 11px;
}

.channel-index-modal {
  width: 640px;
  margin: 0 auto;
}


.channels-index{
  margin: 0 auto;
  display: block;
  width: 640px;
  margin-top: 100px;
}

.channels-index li h4:before {
  content: ': :';
  transform: rotate(320deg);
  float: left;
  margin-right: 12px;
  height: 100%;
  width: auto;
}

.channels-index li {
  border-top: 1px solid gray;
  line-height: 1.5;
  padding: 5px 0;
  box-sizing: border-box;
}

.channels-index h4 {
  font-size: 18px;
}

.channels-index p {
  font-size: 14px;
  float: left;
  width: 90%;
}

.channels-index i {
  font-size: 11px;
  float: right;
  width: 10%;
}

.apply-filters{
  margin: 0 auto;
  display: block;
  width: 640px;
  position: fixed;
  margin-top: -140px;
}

.apply-filters h3{
  font-weight: 700;
  font-size: 34px;
}

.apply-filters input,
.apply-filters select {
  width: 48%;
  height: 35px;
  margin-top: 35px;
}

.apply-filters select {
  float: right;
}

.apply-filters input{
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 15px;
  border: 1px solid #C5C5C5;
  font-size: 18px;
  font-weight: 300;
  float: left;
}

.apply-filters input:hover{
  border:1px solid #2780f8;
}
