// Place all the styles related to the channel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel {
  height: 100vh;
}

.user-profile {
  float: left;
  width: 220px;
  height: 100%;
  background-color: #4d394b;
  color: #fff;
  box-sizing: border-box;
  color: #ab9ba9;
  font-weight: 400;
}

.user-profile h4{
  font-size: 12.8px;
  box-sizing: border-box;
}

.user-profile h4:hover{
  color: #fff;
  cursor: pointer;
}

.user-profile li{
  font-weight: 300;
  width: 220px;
  padding: 0 15px;
  box-sizing: border-box;
}

.user-profile li:hover{
  background-color: #3e313c;
  cursor: pointer;
}

.user {
  box-sizing: border-box;
  padding: 10px 15px;
  height: 60px;
  width: 220px;
  float: left;
  background-color: #4d394b;
  position: relative;
  margin-bottom: 25px;
  position: fixed;
}

.user:hover {
  cursor: pointer;
}

.log-out {
  color: blue;
  background-color: pink;
  padding: 15px;
}

.user:hover {
  background-color: #3e313c;
  color: #fff
}

.acct-settings {
  position: absolute;
  font-weight: 400;
  bottom: 35px;
  right: 25px;
  font-size: 12px;
  transform : scale(1,0.5);
  color: #fff;
}

.user-profile i {
  transform: rotate(320deg);
  float: left;
  margin-right: 12px;
}

.new-channel {
  color: #fff;
  font-size: 12px;
  float:right;
  width: 20%;
  font-weight: 300;
}

.channel-type {
  float: left;
  line-height: 1.5;
  width: 80%;
}

.channel-header {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 70px;
}

.channel-index-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.channel-index-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.close-modal {
  text-align: right;
  float: right;
  margin-right: 50px;
  border-radius: 30px;
  padding: 2px 23px;
  margin-top: 24px;
}

.close-modal i,
.close-modal b {
  color: black;
  display: block;
}

.close-modal i {
  font-size: 40px;

}

.close-modal b{
  font-size: 11px;
}

.close-modal:hover {
  background-color: gray;
}

.channel-index-modal h3{
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.channels-index{
  margin: 0 auto;
  display: block;
  width: 640px;
}

.channels-index li {
  border-top: 1px solid gray;
}

.channels-index h4 {
  font-size: 18px;
}

.channels-index p {
  font-size: 14px;
  float: left;
  width: 90%;
}

.channels-index i {
  font-size: 11px;
  float: right;
  width: 10%;
}
