// Place all the styles related to the channel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ::-webkit-scrollbar addresses the background of the bar itself. It is usually covered by the other elements
// ::-webkit-scrollbar-button addresses the directional buttons on the scrollbar
// ::-webkit-scrollbar-track addresses the empty space “below” the progress bar
// ::-webkit-scrollbar-track-piece is the top-most layer of the the progress bar not covered by the draggable scrolling element (thumb)
// ::-webkit-scrollbar-thumb addresses the draggable scrolling element that resizes depending on the size of the scrollable element
// ::-webkit-scrollbar-corner addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet
// ::-webkit-resizer addresses the draggable resizing handle that appears above the scrollbar-corner at the bottom corner of some elements

.users-channels {
  height: calc(100vh - 150px);
}

.channel-page {
  height: 98vh;
}

.user-profile {
  display: inline-block;
  width: 220px;
  height: 100vh;
  background-color: #4d394b;
  color: #fff;
  box-sizing: border-box;
  color: #ab9ba9;
  font-weight: 400;
  padding-right: 5px;
}

.acct-settings {
  position: fixed;
  width: 220px;
  padding-bottom: 10px;
  z-index: 1;
  background-color: #4d394b;
}

.acct-settings:hover {
  background-color: #3e313c;
  color: #fff;
  cursor: pointer;
}

.acct-settings h3{
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  box-sizing: border-box;
  padding: 10px 15px 0 15px;
  position: relative;
}

.acct-settings h3 i {
  margin-left: 5px;
  font-weight: 400;
  position: absolute;
  color: #ab9ba9;
  top: 12px;
  left: 130px;
  font-size: 14px;
  transform : scale(1,0.5);
}

.acct-settings:hover h3 i{
  color: #fff;
}

.acct-settings h4{
  font-size: 14px;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0 15px;
}

.acct-settings h4:before{
  content: '.';
  margin-right: 5px;
  font-size: 45px;
  color: #38978D;
  font-weight: 900;
  line-height: 0;
}

.expand-acct {
  background-color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 15px;
  width: 275px;
  color: #2c2d30;
  border: 1px solid rgba(0,0,0,.15);
  clear: both;
  box-shadow: 0 5px 10px rgba(0,0,0,.12);
}

.expand-acct h3,
.expand-acct h4,
.expand-acct li {
  padding: 0;
  background-color: white;
}

.expand-acct h3{
  color: #55545A;
}
.expand-acct h4 {
  color: #A0A0A2;
}

.expand-acct h4:before {
  display: none;
}

.aside-profile {
  width: 100%;
  display: block;
}

.iconholder {
  float: left;
  margin-right: 10px;
}

.infoholder {
  float: left;
}

.expand-acct li{
  margin-top: 10px;
  font-size: 15px;
  color: #2c2d30;
}

.channel-header {
  margin-top: 15px;
  padding-left:15px;
  width: 220px;
  box-sizing: border-box;
  letter-spacing: 0.2px;
}

.channel-header:hover{
  cursor: pointer;
}

.channel-type {
  font-size: 12.8px;
  float: left;
  width: 75%;
}

.new-channel {
  width: 20%;
  float: right;
  transform: scale(0.8) translate(18px, -3px);
}

.channel-type:hover{
  color: #fff;
}

.channel-type span{
  font-weight: 600;
  color: rgb(171, 155, 169);
  opacity: 0.4;
  z-index: -5;
  position: static;
}

.channel-type:hover span{
  opacity: 0.8;
  color: rgb(171, 155, 169);
}

.new-channel {
  color: #fff;
  font-size: 18px;
  float:left;
  font-weight: 400;
  color: rgb(171, 155, 169);
  opacity: 0.4;
  border-radius: 70%;
  padding: -10px;
  box-sizing: border-box;
}

.new-channel:hover {
  cursor: pointer;
  opacity: 0.8;
}

.channels-list::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5em;
  border-radius: 5px;
  padding: 0 5px 0 0;
}

.channels-list::-webkit-scrollbar-thumb {
  background-color: #ab9ba9;
  border-radius: 5px;
  opacity: 0.5;
}

.channels-list {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 70px;
  display: block;
  height: 100%;
}

.channels-list ul li {
  line-height: 1.5;
  position: relative;
}

.joined-channels li:before{
  content: ': :';
  transform: rotate(320deg);
  float: left;
  margin-right: 10px;
  margin-left: 15px;
  opacity: 0.4;
}

.channels-list li{
  font-size: 16px;
  font-weight: 300;
  border-radius: 0 6px 6px 0;
  height: 25px;
}

.channels-list li.active,
.channels-list li.active:before,
.channels-list li.active:hover{
  color: #fff;
  background-color: rgb(76, 150, 137);
}

.channels-list li:hover {
  background-color: #3e313c;
  cursor: pointer;
}

.dms ul li,
.joined-channels ul li{
  overflow: hidden;
}

.quick-switch {
  float: bottom;
  height: 61px;
  width: 220px;
}

.dmlist i {
  float: left;
  margin-right: 10px;
  margin-left: 15px;
  opacity: 0.3;
  background-color: white;
  color: #4D394B;
  font-size: 11px;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  text-align: center;
  font-weight: 700;
  position: relative;
  top: 6px;
  vertical-align: top;
}
