.home0, .home1,
.home2, .home3, .home4 {
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
}

.home0 {
  background-image: url(image-path('splash0.jpg'));
}

.home1 {
  background-image: url(image-path('splash1.jpg'));
}

.home2 {
  background-image: url(image-path('splash2.jpg'));
}

.home3 {
  background-image: url(image-path('splash3.jpg'));
}

.home4 {
  background-image: url(image-path('splash4.jpg'));
}

.logo {
  width: 140px;
  height: 85%;
  margin-left: 15px;
  float: left;
}

.logo:hover{
  cursor: pointer;
}

.root-header,
.session-header {
  width: 100%;
  padding: 5px;
  height: 60px;
}

.root-header {
  background: transparent;
}

.session-header {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #ffffff;
  margin-bottom: 25px;
}

.session-header a {
  border: 2px solid #555459;
  color: #555459;
  opacity: .8;
}

.session-header a:hover {
  border: 2px solid #404b55;
  color: #404b55;
  cursor: pointer;
  opacity: 1;
}

.root-header a {
  border: 3px solid #fff;
  color: #fff;
  opacity: 0.8;
}

.root-header > a:hover{
  cursor: pointer;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.0980392);
}

.session-header a,
.root-header a {
  display: inline-block;
  float: right;
  border-radius: 5px;
  margin: 10px 15px 0 15px;
  padding: 6px 12px;
  font-size: 16px;
}

.session {
  background-color: #f9f9f9;
}

.session-errors:before {
  content: '⚠';
  width: 20px;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 3%;
  color: #cb5234;
}

.session-errors {
  margin: 0 auto;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-left: 6px solid #cb5234;
  border-radius: 4px;
  width: 590px;
  position: relative;
}

.session-errors li {
  margin: 0 auto;
  width: 590px;
  line-height: 1.5;
  font-weight: 300;
  font-size: 16px;
  color: #555459;
  padding: 7px 65px;
  box-sizing: border-box;
}

.session-form {
  margin: 0 auto;
  line-height: 2.5;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  width: 550px;
  padding: 20px;
  margin-top: 20px;
  color: #555459;
  background-color: #ffffff;
  border-radius: 4px;
}

.session-form h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}

.session-form p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 300;
}

.session-form input{
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 50px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 15px;
  margin-bottom: 10px;
  border: 1px solid #C5C5C5;
  font-size: 18px;
  font-weight: 300;
}

.session-form input:hover{
  border:1px solid #2780f8;
}

.session-form input:focus {
  outline-color: none;
}

.session-form button{
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 50px;
  border-radius: 4px;
  background-color: #2ab27b;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.session-form button:hover{
  cursor: pointer;
}

.session-form button:focus {
  outline-color: none;
}

.session-form button:focus:after{
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
